main{
    margin-top: 120px;
}

.tarjetas{
    
}
img{
    margin-bottom: 50px;
}
p{
    margin: 0;
    font-size: 25px;
    font-weight:bold;
    height: 100px;
    display: flex;
    align-items: center;
}

.estiloBtn{
    margin: 0;
    font-size: 25px;
    font-weight:bold;
    height: 100px;
    display: flex;
    align-items: center;
}
.texto{
    margin: 0;
    font-size: 14px;
    
    
    display: flex;
    align-items: center;
}